body {
    font-family: 'Courier New', Courier, monospace;
    margin: 100px;
    padding: 50px;
    background-color: #f8f0e3;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f0e3;
  }

  form p{
    text-align: left;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

#dropdown {
  color: #666;
  font-style: normal;
}

#dropdown option[value=""] {
  color: #999;
}

#dropdown:valid {
  color: #000;
  font-style: normal;
}
